name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    strategy:
      matrix:
        include:
          # - os: ubuntu-latest
          #   platform: linux
          #   arch: x64
          # - os: macos-latest
          #   platform: darwin
          #   arch: arm64
          - os: windows-latest
            platform: win32
            arch: x64
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.platform }}-${{ matrix.arch }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - run: |
          sudo apt update
          sudo apt install -y meson nasm
        if: ${{ matrix.platform == 'linux' }}
      - run: brew install meson nasm
        if: ${{ matrix.platform == 'darwin' }}
      - run: |
          choco install meson nasm msys2
          "C:\Program Files\NASM" | Out-File -FilePath "$env:GITHUB_PATH" -Append
          "C:\Program Files\Meson" | Out-File -FilePath "$env:GITHUB_PATH" -Append
          "C:\tools\msys64" | Out-File -FilePath "$env:GITHUB_PATH" -Append
        if: ${{ matrix.platform == 'win32' }}
      - run: pacman --noconfirm -S git make ninja pkgconf
        shell: C:\tools\msys64\usr\bin\bash.exe -e {0}
        if: ${{ matrix.platform == 'win32' }}
      - run: npm install -g bare-runtime bare-make
      - run: npm install
      - run: bare-make generate --platform ${{ matrix.platform }} --arch ${{ matrix.arch }} --debug
      - run: bare-make build
      - run: bare-make install
      - run: npm test
