name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            platform: linux
            arch: x64
          - os: ubuntu-22.04-arm
            platform: linux
            arch: arm64
          - os: ubuntu-22.04
            platform: android
            arch: x64
            flags: -D ANDROID_STL=c++_shared
          - os: ubuntu-22.04
            platform: android
            arch: ia32
            flags: -D ANDROID_STL=c++_shared
          - os: ubuntu-22.04
            platform: android
            arch: arm64
            flags: -D ANDROID_STL=c++_shared
          - os: ubuntu-22.04
            platform: android
            arch: arm
            flags: -D ANDROID_STL=c++_shared
          - os: macos-15
            platform: darwin
            arch: x64
          - os: macos-15
            platform: darwin
            arch: arm64
          - os: macos-15
            platform: ios
            arch: arm64
          - os: macos-15
            platform: ios
            arch: arm64
            tags: -simulator
            flags: --simulator
          - os: macos-15
            platform: ios
            arch: x64
            tags: -simulator
            flags: --simulator
          - os: windows-2022
            platform: win32
            arch: x64
          - os: windows-2022
            platform: win32
            arch: arm64
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.platform }}-${{ matrix.arch }}${{ matrix.tags }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - run: |
          sudo apt update
          sudo apt install -y meson nasm libpulse-dev libjack-jackd2-dev
        if: ${{ matrix.platform == 'linux' || matrix.platform == 'android' }}
      - run: brew install meson nasm
        if: ${{ matrix.platform == 'darwin' || matrix.platform == 'ios' }}
      - run: choco install --ignore-package-exit-codes meson nasm msys2
        if: ${{ matrix.platform == 'win32' }}
      - run: pacman --noconfirm -S git make ninja pkgconf
        shell: C:\tools\msys64\usr\bin\bash.exe -e {0}
        env:
          PATH: C:\tools\msys64\usr\bin
        if: ${{ matrix.platform == 'win32' }}
      - run: npm install -g bare-runtime bare-make
      - run: npm install
      - run: bare-make generate --platform ${{ matrix.platform }} --arch ${{ matrix.arch }} --debug ${{ matrix.flags }}
      - run: bare-make build
      - run: bare-make install
      - run: npm test
        if: ${{ matrix.platform == 'linux' || (matrix.platform == 'darwin' && matrix.arch == 'arm64') || (matrix.platform == 'win32' && matrix.arch == 'x64') }}
